body{
    background-color: rgb(10, 44, 66);
    box-sizing: border-box;
    padding: 1dvb;
    font-family: sans-serif;
}

header img{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

nav{
    width: 90%;
    background-color: rgb(1, 22, 33);
    justify-content: center;
    padding: 1px;
}

nav ul li a{
    display: inline-block;
    color: rgb(209, 218, 225);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding: 1%;
    border: 1px solid gray;
    margin: 1%;
}

nav a:hover{
    color: rgb(5, 151, 231);
}